.global-notifications {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #272a30b5;
  z-index: 9999999;
  .block-notifications {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    .block-notification {
      width: 445px;
      max-width: 80%;
      margin-left: auto;
      margin-right: 33px;
      padding: 12px 24px;
      background-color: #fff;
      border-radius: 20px;
      display: flex;
      margin-top: 20px;
      align-items: center;
      transition: all 0.6s ease-out;
      transform: translateX(500px);
      opacity: 0;
      .block-notification-icon {
        flex-shrink: 0;
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 16px;
      }
      &.notification-show {
        transform: translateX(0px);
        opacity: 1;
      }
      .block-notification-contents {
        flex: 1;
      }
      .block-notification-content-title {
        font-size: 16px;
      }
      .block-notification-content {
        font-size: 13px;
      }
      .block-notification-button {
        flex-shrink: 0;
        color: #7b8895;
        font-size: 36px;
        margin-left: 16px;
        span {
          cursor: pointer;
        }
      }
      &.block-notification-success {
        .block-notification-icon {
          background-image: url("../images/toast-icons/success-icon.png");
        }
        .block-notification-content-title,
        a {
          color: #26d4a8;
        }
      }
      &.block-notification-error {
        .block-notification-icon {
          background-image: url("../images/toast-icons/error-icon.png");
        }
        .block-notification-content-title,
        a {
          color: #f5393a;
        }
      }
      &.block-notification-info {
        .block-notification-icon {
          background-image: url("../images/toast-icons/info-icon.png");
        }
        .block-notification-content-title,
        a {
          color: #668aff;
        }
      }
      &.block-notification-warning {
        .block-notification-icon {
          background-image: url("../images/toast-icons/warning-icon.png");
        }
        .block-notification-content-title,
        a {
          color: #ff6e01;
        }
      }
    }
  }
}
